.form {
    border: solid;
    width: 29%;
    height: 25%;
    font-size: 2rem;
    border-style: groove;
    border-width: 14px;
    border-color: rgb(185, 13, 13);

}


.caninos:hover {
    transform: scale(1.3) translateY(-60px);
    transition: all 0.5s;
    border-radius: 0%;

    ;
}

.btn:hover {
    transform: scale(1.2) translateY(-10px);
    transition: all 0.5s;
}




.wpp:hover {
    transform: scale(1.15) translateY(-10px);
    transition: all 0.5s;
}

.texto2 {
    font-size: 4.5vh;
    text-align: center;
    max-width: 60%;
    color: rgb(247, 247, 247);



    margin: auto;
}

.caja3 {
    background-color: rgba(33, 32, 36, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    width: 80%;
    opacity: 85%;
    margin: 5% auto;
    height: auto;
}



#botton {
    transform: none;
}