ul{display: flex;
    justify-content: space-around;
    max-width: 95vw;
}

 
.nav-item{margin-right: 5.5vw;
    padding: 0.8%;
    padding-right: 3%;
    
}        

.header3{
    background-image: linear-gradient(to right,black,white);
    grid-area: header;
 
}

   
.encabezado {
    background-image: linear-gradient(to right,black,white);
    padding-bottom: 3%;
    width: 100%;
    
}



li:hover{
    transform: scale(1.5);
    transition: all 1s;
    }
    
    
    
    li {
       padding: 1.3%;
        border-radius: 5px;
        border: solid;
        color: black;
        font-family: fantasy;
        font-size: large;
        opacity: 1;
        text-align: center;
        list-style-type: none;
    background-image: linear-gradient(to right,rgb(228, 222, 222),rgb(65, 64, 64) );
    margin-top: 5%;
    }

    header {
        grid-area: header;
        animation: doggy 3s infinite linear;
        background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(253, 253, 253));
       
    }
    
    .fondo{
        grid-area: header;
        animation: doggy 3s infinite linear;
        background-image: linear-gradient(to right,rgb(15, 15, 15),rgb(218, 218, 230));
       
    }
    
    
    .barra{color:rgb(206, 27, 57);
      text-decoration: none;
      color: white!important;
        
    }
    
    
    .barra:hover{color: white;}

    .navu{padding-bottom: 5%;
    }
    
    


               

